@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
/* nav section start here */
.nav-container{
    border: 1px solid red;
    display: flex;
    align-items: center;
}
.g-style{
    color: rgb(128, 51, 64);
}
.nav-logo {
    display: flex;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    width: 50%;
    margin: 50px 38px;
}
.nav-title{
    display: flex;
    gap: 10px;

}
.follow-section{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-title p{
    
    font-size: 24px;
    padding: 5px;
}